// colors
$alabaster: #f8f8f8;
$seaShell: #f1f1f1;
$white: #fff;
$black: #000;
$heavyMetal: #1d1D1b;
$seaNymph: #73a39d;
$atlantis: #84CC4c;
$silk: #b5a8a1;
$driftwood: #ab844a;
$cornflowerBlue: #6977f0;
$codGray: #141414;
$red: #ff0000;
$alto: #d1d1d1;
$mineShaft: #393939;
$dustyGray: #979797;
$silver: #b9b9b9;
$scorpion: #5b5B5b;
$boulder: #7c7c7c;
$royalBlue: #2f80ed;
$alizarinCrimson: #e5271b;
$altoLight: #e0e0e0;

.container {
  margin: 0 auto;
  max-width: 1366px;
  padding: 0 99px;
}







