// colors
$alabaster: #f8f8f8;
$seaShell: #f1f1f1;
$white: #fff;
$black: #000;
$heavyMetal: #1d1D1b;
$seaNymph: #73a39d;
$atlantis: #84CC4c;
$silk: #b5a8a1;
$driftwood: #ab844a;
$cornflowerBlue: #6977f0;
$codGray: #141414;
$red: #ff0000;
$alto: #d1d1d1;
$mineShaft: #393939;
$dustyGray: #979797;
$silver: #b9b9b9;
$scorpion: #5b5B5b;
$boulder: #7c7c7c;
$royalBlue: #2f80ed;
$alizarinCrimson: #e5271b; //cart button
$altoLight: #e0e0e0;
$galery: #eee;
$doveGray: #6a6a6a; //productInfo
$gray: #808080; //order
$mercury: #e7e7e7;


.app-wrapper {
  color: $mineShaft;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1198px;
  padding: 0 15px;
}

.title {
  color: $mineShaft;
  font-weight: 500;
  font-size: 24px;
}

.more-btn {
  padding: 8px 38px;
  background-color: $heavyMetal;
  border: 0;
  color: $white;
  font-weight: 500;
  font-size: 13px;
  margin: 24px auto 0;
  display: flex;
  justify-content: center;

  &:disabled {
    background-color: $dustyGray;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.btn {
  padding: 14px 0;
  background-color: $heavyMetal;
  width: 100%;
  font-size: 14px;
  color:$white;
}




