@import "../App/App";

.product {
  display: inline-block;
  border: 1px solid $seaShell;
  color: $mineShaft;
  cursor: pointer;
  background-color: $white;

  &__top {
    width: 284px;
    height: 437px;
    position: relative;
  }

  &__favorite {
    position: absolute;
    top: 12px;
    right: 12px;
  }

  &-sale {
    top: 0;
    left: 0;
    position: absolute;

    span {
      position: absolute;
      top: 10px;
      left: 5px;
      display: inline-block;
      color: $white;
      transform: rotate(315deg);
      font-weight: 500;
      font-size: 12px;
    }
  }

  &__bottom {
    padding: 8px;
  }

  &__title {
    margin-bottom: 6px;
  }

  &__price {
    margin-bottom: 6px;

    span {
      font-weight: 300;
      font-size: 14px;
      text-decoration-line: line-through;
      color: $silverChalice;
      margin-left: 6px;
    }
  }

  &__size {
    margin-bottom: 6px;
    color: $boulder;
  }

  &__img {
    width: 100%;
    height: 100%;
  }
}