@import '../App/App';

.public-offer {
  padding-top: 15px;


  &__title {
    margin-bottom: 18px;
  }

  &__text {
    background-color: $white;
    padding: 16px;
    white-space: pre-wrap;
    font-weight: 300;
    font-size: 14px;
    line-height: 165%;
    color: $scorpion;
  }
}